@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
header,
footer {
  background-color: #219ebc;
  color: white;
  text-align: center;
  /*margin: 0 auto;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  justify-content: center;
  /*flex-flow: column;*/
}

body {
  background-size: cover;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

main {
  /*min-height: 350px;*/
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
}

img[data-src] {
  filter: blur(0.2em);
}
  
img {
  filter: blur(0em);
  transition: filter 0.5s;
}
.img-grid {
  background-color: #8ac3d2;
  align-items: center;
	justify-items: center;
}
.img-grid picture{
  margin: 0 auto;
  margin-bottom: 1.3em;
  align-self: center;
  justify-self: center;
}

.img-grid figcaption{
  text-align: center;
  font-size: 0.8em;
}
nav {
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #264653;
}

nav a:hover{
  color:#fcd573;
}
.navigation {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: -0.5em;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.responsive li {
  display: block;
}
.headings {
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #264653;
}

h3,h4 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: left;
  color: #264653;
}

h1 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2em;
}
.logo-box {
  justify-self: left;
}
h2 {
  border-bottom: 2px solid #219ebc;
}

p {
  margin: 0;
  padding: 1rem;
}


/*nav li {
    display: none;
} */

nav ul {
	list-style-type: none;
	overflow: hidden;
    text-align: center;
}

/*nav ul li a {
   display: block;
   color: #fff;
   text-align: center;
   padding: 0.75rem;
   text-decoration: none;
   font-size: 1rem;
}*/

footer a{
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: #fcd573;
} 

picture img{
  max-width: 100%;
}

/*.section {
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  padding: 15px;
  background-color: #eee;
  color: #444;
  font-family: "Roboto", sans-serif;
  text-align: left;
}*/
.herodiv {
  margin: 10px auto;
  margin-bottom: 1em;
}
picture.herodiv {
  display: block;
  width: 96%;
  /*position: relative;*/
}
.active {
  background-color: #219ebc;
  border: 1px solid #264653;
}

.weather-summary {
  /*position: absolute;*/
  top: 5rem;
  left: 1rem;
  height: 385px;
  background-color: #219ebc;
  opacity: 0.95;
  max-width: 98%;
}
.weather-summary h3{
  border-bottom: 2px solid white;
  color: white
}
.weather-summary div{
  margin-bottom: -0.1em;
}

.left {
  position: relative;
  left: 8.7rem;
  top: -1.6rem;
  font-size: 1.5rem;
  color: #fcd573;
}
#lf {
  position: relative;
  left: 12.5rem;
  top: -3.2rem;
  font-size: 1.5rem;
  color: #fcd573;
}
.f {
  position: relative;
  left: 12.2rem;
  top: -3.25rem;
  font-size: 1.5rem;
  color: #fcd573;
}
#mph {
  position: relative;
  left: 12.7rem;
  top: -3.3rem;
  font-size: 1.5rem;
  color: #fcd573;
}
.right {
  color: white;
  font-size: 1.5rem;
}
.forecastdiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.forecastdiv div{
  border: 1px solid gray;
  text-align: center;
  height: 180px;
}
.forecastdiv img {
  width: 5rem;
  margin: 0.2em;
}
.forecastdiv h4{
  background-color: #264653;
  color: white;
  margin-top: 0;
  padding: 0.3em;
  text-align: center;
}
.forecastdiv h5 {
  font-size: 1em;
  margin: 0 auto;
}
.article {
  background-color: #aad0daf6;
  margin-top: 1em;
}
.article img {
  float: right;
  margin-right: 30px;
}
#by {
  color: rgb(55, 55, 55);
  font-size: 1.47rem;
  margin-top: -1rem;
  margin-left: 1rem;
}
.contact-info {
  margin-top: 1em;
  position: relative;
  height: 16em;
  background-color: #ffe093;
}
.map {
  position: absolute;
  width: 50%;
  top: 1em;
  margin-left: 0.5em;
}
.info {
  position: absolute;
  right: 3rem;
}
.socialmedia {
  position: relative;
  left: 28em;
  bottom: -9em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;
  
}
.contact-info h3{
  text-align: right;
  margin-right: 2em;
}

.info img {
  width: 1.8em;
  position: relative;
  bottom: -0.8rem;
  margin-bottom: -1em;
}
.info h4{
  position: relative;
  font-size: 0.8em;
  left: 3rem;
  top: -1.3rem;
  margin-bottom: -1em;
}

#banner {
  display: none;
  background-color: #fcd573;
  padding: 0.1rem;
  text-align: center;
}