@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}

	/*.navigation a {
		display: none;
	}*/
    .navigation.responsive li:first-child {
		display: none;
	}
	/*ul.navigation.responsive {
		display: none;
	}*/

	main {
		margin-left: 1em;
		margin-right: 1em;
	}

	.img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	#cloudy {
		grid-column: 1;
		grid-row: 1;
	}
	#lightning {
		grid-column: 2;
		grid-row: 1;
	}
	#rainbow {
		grid-column: 3;
		grid-row: 1;
	}
	#sunny {
		grid-column: 1;
		grid-row: 2;
	}
	#hurricane {
		grid-column: 2;
		grid-row: 2;
	}
	#snow {
		grid-column: 3;
		grid-row: 2;
	}
	#windy {
		grid-column: 1;
		grid-row: 3;
	}
	#rain {
		grid-column: 2;
		grid-row: 3;
	}
	#haze {
		grid-column: 3;
		grid-row: 3;
	}
	.img-grid figure:hover{
		box-shadow: 8px 8px 15px grey;
	  }
}