@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
header,
footer {
  background-color: #219ebc;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px ;
  gap: 10px;
  flex-flow: column;
}

body {
  background-size: cover;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}

main {
  /*min-height: 350px;*/
  background-color: white;
  max-width: 1250px;
  margin: 0 auto;
}

nav {
  margin: 0 auto;
  background-color: #264653;
}

.navigation {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: -0.5em;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.responsive li {
  display: block;
}
.headings {
  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: #264653;
}

h3,h4 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: left;
  color: #264653;
}

h1 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 2em;
}
.logo-box {
  justify-self: left;
}
h2 {
  border-bottom: 2px solid #219ebc;
}

p {
  margin: 0;
  padding: 1rem;
}


/*nav li {
    display: none;
} */

nav ul {
	list-style-type: none;
	overflow: hidden;
    text-align: center;
}

/*nav ul li a {
   display: block;
   color: #fff;
   text-align: center;
   padding: 0.75rem;
   text-decoration: none;
   font-size: 1rem;
}*/

footer a{
  color: white;
} 

.hero-img img {
  max-width: 100%;
}

/*.section {
  margin: 10px auto;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  padding: 15px;
  background-color: #eee;
  color: #444;
  font-family: "Roboto", sans-serif;
  text-align: left;
}*/
.herodiv {
  margin: 10px auto;
  width: 1200px;
	position: relative;
}

.weather-summary {
  position: absolute;
  top: 5rem;
  left: 1rem;
  height: 350px;
  background-color: #219ebc;
  opacity: 0.9;
}
.weather-summary h3{
  border-bottom: 2px solid white;
  color: white
}

.left {
  position: relative;
  left: 10rem;
  top: -1.6rem;
  font-size: 1.5rem;
  color: #fcd573;
}
.right {
  color: white;
  font-size: 1.5rem;
}
.forecastdiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.forecastdiv div{
  border: 1px solid gray;
  text-align: center;
  height: 180px;
}
.forecastdiv img {
  width: 5rem;
  margin: -0.5em;
}
.forecastdiv h5{
  background-color: #264653;
  color: white;
  margin-top: 0;
}
.forecastdiv p {
  font-size: 1em;
}
.article {
  background-color: #aad0daf6;
  margin-top: 1em;
}
.article img {
  float: right;
  margin-right: 30px;
}
.contact-info {
  margin-top: 1em;
  position: relative;
  height: 16em;
  background-color: #ffe093;
}
.contact-info h3{
  text-align: right;
  margin-right: 2em;
}
.map {
  position: absolute;
  width: 700px;
  top: 1em;
}
.info {
  position: absolute;
  right: 3rem;
}
.info img {
  width: 1.8em;
  position: relative;
  bottom: -0.8rem;
  margin-bottom: -1em;
}
.info p{
  position: relative;
  font-size: 0.8em;
  left: 3rem;
  top: -1.3rem;
  margin-bottom: -1em;
}
.socialmedia {
  position: relative;
  left: 28em;
  bottom: -9em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 360px;

}