@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

header,
footer {
  background-color: #2a9d8f;
  color: white;
  text-align: center;
  border-radius: 8px;
}

body {
    max-width: 1280px;
    margin: 10px auto;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
}

main {
  display: grid;
  margin: auto;
}

.d-principle {
  border-color: gray;
  border-style: solid;
  margin: 0.5em;
  border-radius: 8px;
}

h1,
h2 {
  font-family: "Mate Sc", serif;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

h4 {
  padding-top: 0;
  padding-bottom: 0;
}

link {
  padding-top: 0;
  padding-bottom: 1em;
  color: white;
}

p {
  font-size: 1.5rem;
}


img {
  float: none;
  max-height: 850px;
  padding-top: 2em;
}

footer p a{
  color: white;
}